{% extends "::base.html.twig" %}

{% block body %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('fos_user_profile_show', {'username': app.user.username}) }}">
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
            </a> |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans([], 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans([], 'FOSUserBundle') }}</a> |
            <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans([], 'FOSUserBundle') }}</a>
        {% endif %}
    </div>

    <h1>Hello Application</h1>

    {% for key, message in app.session.getFlashes() %}
    <div class="{{ key }}">
        Flash message: {{ message }}
    </div>
    {% endfor %}

    <div>

    Choose theme:
    <form>
        <select id="cookie" onChange="if (!this.value) { return false }; var now = new Date(); document.cookie = 'device='+this.value+''; expires=''+new Date(now.getTime() + 1000).toGMTString()+';'; window.location.reload();">
            <option value="">choose</option>
            <option value="desktop">desktop</option>
            <option value="tablet">tablet</option>
            <option value="phone">phone</option>
        </select>
    </form>

    <div>
        LiipImagineBundle in action:<br>
        <img src="{{ '/bundles/liiphello/images/image_test.png' | imagine_filter('my_thumb') }}" />
    </div>

    </div>
    {% block content %}{% endblock %}
{% endblock %}
