{% extends "LiipHelloBundle::layout.html.twig" %}

{% block content %}

    {{ facebook_initialize({'xfbml': true}) }}

    {{ facebook_login_button({'autologoutlink': true}) }}

    {% if app.user %}

        | {{ app.user.fullName }}

        | <a href="{{ path('hello_facebook_logout') }}">logout</a>

    {% else %}

        <a href="{{ path('hello_facebook_check') }}">login</a>

    {% endif %}

{% endblock content %}
