{% extends "LiipHelloBundle::layout.html.twig" %}

{% block content %}

    <div>
        Hello {{ data }}!
        <a href="{{ path('edit_article', {'article': data}) }}">edit this article</a>
        <a href="{{ path('get_article', {'article': data, '_format': 'json'}) }}">show this article in json</a>
        <a href="{{ path('get_article', {'article': data, '_format': 'xml'}) }}">show this article in xml</a>
    </div>

    <div><a href="{{ path('get_articles') }}">list articles in html</a></div>
    <div><a href="{{ path('get_articles', {'_format': 'json'}) }}">list articles in json</a></div>
    <div><a href="{{ path('get_articles', {'_format': 'xml'}) }}">list articles in xml</a></div>

    <div><a href="{{ path('new_article', {'_format': 'html'}) }}">form to create a new article in html</a></div>

    Rendered with twig.

{% endblock content %}
